Open Algorithms/SummaryWeather.csv
Open Algorithms/.ipynb_checkpoints/

Classic-Methods/tree.dot
Classic-Methods/cars.csv
Classic-Methods/MNIST/
Classic-Methods/.vscode/
Classic-Methods/tree.png
Classic-Methods/try.png

Convolutionals/.ipynb_checkpoints/
Convolutionals/desktop.ini

Convolutionals/CIFAR1/NNCIFR10.pt
Convolutionals/CIFAR1/data/
Convolutionals/CIFAR1/imgs/

Convolutionals/CatsVDogs/.ipynb_checkpoints/
Convolutionals/CatsVDogs/NNCVD.pt
Convolutionals/CatsVDogs/imgs/
Convolutionals/CatsVDogs/training_data.npy

Convolutionals/Fashion/data/

Convolutionals/Nmnist/MNIST/
Convolutionals/Nmnist/NNMnist.pt
Convolutionals/Nmnist/try.png

