Open Algorithms/SummaryWeather.csv
Open Algorithms/.ipynb_checkpoints/

Classic-Methods/tree.dot
Classic-Methods/cars.csv
Classic-Methods/MNIST/
Classic-Methods/.vscode/
Classic-Methods/tree.png
Classic-Methods/try.png

Notes/MNIST/
Notes/.ipynb_checkpoints/
Notes/try.png

.ipynb_checkpoints/

notebooks/